body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  text-align: center;
  margin: 0;
  color: white;
}

.container {
  padding: 50px;
}

.logo {
  width: 180px;
  margin-bottom: 60px;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-size: 1.3rem;
}

.descriptionCtnr {
  margin-top: 60px;
}
